<div class="navbar-fixed">
    <nav class="blue">
        <div class="nav-wrapper">
            <a class="brand-logo" data-bind="text: $root.name"></a>
            <form>
                <div class="input-field blue lighten-2">
                    <input id="search" type="search" required>
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
          </form>
        </div>
    </nav>
</div>
