omni-bar .navbar-fixed {
    height: 50px;
}

omni-bar nav {
    height: 50px;
    line-height: initial;
}

omni-bar nav .brand-logo {
    margin-left: 20px;
    margin-top: 0px;
}

omni-bar nav .input-field {
    margin-left: 180px;

    width: 50%;
    height: 40px;

    margin-top: 5px;
    margin-bottom: 5px;

    line-height: initial;
}

omni-bar nav .input-field i {
    line-height: initial;

    margin-top: 5px;
}

omni-bar nav form input {
    height: 40px;
    line-height: initial;
}
