[data-component="pack-preview"] .pack-desc {
    vertical-align: middle;

    position: relative;
    cursor: pointer;

    margin-top: 0px;
    margin-bottom: 1px;

    padding: 15px;
}

[data-component="pack-preview"] .card-panel .pack-action-buttons {
    visibility: hidden;

    z-index: 1;
    display: block;
    float: right;

    position: absolute;
    top: 12px;
    right: 17px;
}

[data-component="pack-preview"] .card-panel:hover .pack-action-buttons {
    visibility: visible;
}

[data-component="pack-preview"] .card-panel .pack-action-buttons i {
    cursor: pointer;
}
