<div class="pack-desc card-panel" data-bind="with: pack">
    <strong><span data-bind="text: name"></span></strong>
    <span class="grey-text text-darken-1">(<span data-bind="text: cards().length"></span>)</span>
    <span class="pack-action-buttons grey-text text-darken-2">
        <i class="delete-pack material-icons">delete</i>
    </span>
</div>
