<a class="waves-effect waves-light blue btn test-pack"><i class="material-icons left">assessment</i>Test</a>
<div class="card-container" data-bind="foreach: pack().cards">
    <div data-component="card-preview" data-name="previews" data-activate></div> <!-- TODO fix ajs so that ce-components work here -->
</div>
<div data-bind="ifnot: pack().cards().length">
    <div class="card-panel">
        <span class="blue-text text-darken-2">You have not added any cards yet. Add a card to get started.</span>
    </div>
</div>

<a class="btn-floating btn-large waves-effect waves-light blue add-card"><i class="material-icons">add</i></a>

<card-builder name="builder"></card-builder>

<div id="card-fullscreen" class="modal bottom-sheet">
    <div class="modal-content">
        <card-full name="fullscreen"></card-full>
    </div>
</div>
