card-browser {
    height: 100%;
}

card-browser .btn-floating {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

card-browser .card-container {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
}

card-browser .card-container [data-component="card-preview"] {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    height: 200px;

    width: 49%;
}
