<div data-bind="foreach: packs">
    <div data-component="pack-preview" data-name="previews" data-activate></div>
</div>
<div data-bind="ifnot: packs().length">
    <span class="blue-text text-darken-2">You have not added any pack yet. Add a pack to get started.</span>
</div>

<a class="add-pack btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>

<pack-builder name="builder"></pack-builder>
