/* label focus color */
card-builder .input-field input[type=text]:focus + label {
    color: #2196f3;
}

/* label underline focus color */
card-builder .input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}
