<div id="build-card" class="modal bottom-sheet" data-bind="with: card">
    <div class="modal-content">
        <h4>Flashcard Builder</h4>
        <p>
            Enter or update the text of your flashcard below. Front text will be shown first, back text will be shown upon flipping the card.
        </p>
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <input name="front_text" type="text" data-bind="value: front"/>
                    <label for="front_text">Front</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" data-bind="value: back"/>
                    <label for="back_text">Back</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="card-go modal-action modal-close waves-effect waves-blue btn-flat">Done</a>
    </div>
</div>
