<div class="card small" data-bind="with: card">
    <div class="card-content">
        <span class="card-title grey-text text-darken-2">
            <i class="material-icons right delete-card action">delete</i>
            <i class="material-icons right activator edit-card action">mode_edit</i>
            <i class="material-icons right activator fullscreen-card action">system_update_alt</i>
        </span>
        <div class="row">
            <div class="col s6">
                <div class="blue-text">Front</div>
                <div class="card-preview-content flow-text" data-bind="text: front"></div>
            </div>
            <div class="col s6">
                <div class="blue-text">Back</div>
                <div class="card-preview-content flow-text" data-bind="text: back"></div>
            </div>
        </div>
    </div>
</div>
