[data-component="card-preview"] .card .card-preview-content {
    word-break: keep-all;
}

[data-component="card-preview"] .card .card-action a {
    cursor: pointer;
}

[data-component="card-preview"] .card-container {
    overflow-y: auto;
    height: 80vh;
    margin-top: 5px;
}

[data-component="card-preview"] .card .card-title {
    visibility: hidden;

    z-index: 1;
    display: block;
    float: right;

    position: absolute;
    top: 15px;
    right: 15px;
}

[data-component="card-preview"] .card .card-title i {
    cursor: pointer;
}

[data-component="card-preview"] .card:hover .card-title {
    visibility: visible;
}

[data-component="card-preview"] .card.small .card-content, .card.medium .card-content, .card.large .card-content {
    overflow: visible;
    max-height: 100%;
}

[data-component="card-preview"] .card.small {
    height: 200px;
}
