card-full .action {
    cursor: pointer;
}

card-full .card {
    width: 100%;
    height: 100%;

    min-height: 350px;

    text-align: center;
    vertical-align: middle;
}

card-full .card .card-content {
    width: 100%;
    height: 100%;
}

card-full .card .card-full-content {
    vertical-align: middle;
    font-size: 6vh;
    word-break: keep-all;
}

card-full .card .card-front-content {
    margin-top: 75px;
}

card-full .card .card-title {
    visibility: hidden;
}

card-full .card:hover .card-title {
    visibility: visible;
}
