<div class="card" data-bind="with: card">
    <div class="card-content">
         <span class="card-title grey-text text-darken-2">
             <i class="material-icons right next-card action">done</i>
             <i class="material-icons right activator action">loop</i>
         </span>
        <p class="card-full-content card-front-content" data-bind="text: front"></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-2">
            <i class="material-icons right next-card action">done</i>
            <i class="material-icons right activator action">loop</i>
        </span>
        <p class="card-full-content" data-bind="text: back"></p>
    </div>
</div>
