<div id="build-pack" class="modal bottom-sheet" data-bind="with: pack">
    <div class="modal-content">
        <h4>Pack Builder</h4>
        <p>
            Enter the name of your pack below to get started
        </p>
        <form>
            <div class="input-field col s12">
                <input name="front_text" type="text" data-bind="value: name"/>
                <label for="front_text">Name</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="pack-go modal-action modal-close waves-effect waves-blue btn-flat">Done</a>
    </div>
</div>
